<div class="flex-row posts">
   {{#each posts}}
      <article class="card" style="width: 60rem;">
         <div class="card-body flex-row justify-space-between">
            <h3>
               <a class="card-title" href="/post/{{id}}">{{title}}</a>
            </h3>
            <div class="card-subtitle">
               Posted by
               {{User.username}}
               on
               {{format_date createdAt}}
            </div>
         </div>
         <div class="card-text">
            {{body}}
         </div>
      </article>
   {{/each}}
</div>